@font-face {
    font-family: mainfont;
    src: url(/Fonts/HelveticaNowTextMedium.woff2);
}
@font-face {
    font-family: futuramain;
    src: url(/Fonts/Nike-Futura-ot-300.woff2);
}
@font-face {
    font-family: futura_alt;
    src: url(/Fonts/Nike-Futura.woff2);
}
*{
    margin: 0;
    padding: 0;
    color: #111;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: mainfont;
    max-width: 100%;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align_items{
    align-items: center;
}
.grid{
    display: grid;
}
.width{
    width: 92.88%;
    margin: 0 auto;
}
.bg_alt{
    background: #f5f5f5;
}
.text_br{
    border-right: .7px solid #111;
    padding: 0 12px !important;
}
.up_nav{
    justify-content: space-between;
    font-size: 12px;
}
.fith{
    height: 100%;
}
.up_nav_img{
    gap: 24px;
    padding: 6px 0;
}
.up_nav_img img{
    padding: 3px;
}
.up_nav_text{
    padding: 0 8px 0 12px;
    line-height: 12px;
    font-weight: 500;
}
.logo{
    padding: 15.5px 0;
    width: 30% !important;
}
.nav_text{
    gap: 24px;
    text-align: center;
    font-size: 1rem;
    padding: 0 0 0 12px;
    width: 40%;
}
.nav_right{
    justify-content: end;
    padding: 0 0 0 8px;
    width: 30%;
    gap: 22px;
}
.circle{
    border-radius: 50%;
}
.circle_h{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.mag img{
    width: 20px;
    padding: 8px;
}
.search{
    width: 125px;
    text-align: left;
    border: none;
    background: #f5f5f5;
    height: 36px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    color: #E5E5E5;
    font-size: 17px;
}
.fix{
    background: #f5f5f5;
}
.img_nav{
    width: 20px;
    padding: 8px;
    margin-left: 2px;
}
footer{
    margin-bottom: 120px;
}
.footer{
    border-top: .9px solid #E5E5E5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 65px 0;
    gap: 12px;
}
.flex_d{
    display: flex;
    flex-direction: column;
}
.foot_col p{
    font-size: 14px;
    color: #707072;
}
.bold{
    color: #111 !important;
    margin-bottom: 24px;
}
.foot_col{
    text-align: left;
    gap: 12px;
}
.foot_end img{
    width: 14px;
    height: 14px;
}
.foot_end div{
    gap: 5px;
    text-align: right !important;
    justify-content: end;
}
.footer_img2{
    height: 22px !important;
    padding: 2px !important;
}
.foot_bottom_img{
    height: 13px;
    padding: 7px;
}
.foot_bottom p{
    color: #707072;
    font-size: 14px;
}
.foot_bottom{
    gap: 20px;
}
/* nav and footer end here */
.sec1_img{
    width: 100%;
}
.sec1_text{
    text-align: center;
    padding-top: 20px;
}
.sec1_text h1{
    font-family: futuramain;
    font-size: 5.25em;
    color: #111;
    text-transform: uppercase;
}
.sec1_text p{
    font-size: 16px;
    font-weight: 400;

}
.btn1{
    padding: 5px 15px;
    border-radius: 30px;
    background-color: #111;
    width: fit-content;
    margin: 30px auto;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.btn1:hover{
    background-color: #707072;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
    z-index: 1;
}
.sec2{
    grid-template-columns: 1fr 1fr;
    gap: none;
}
.sec2 img{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.m{
    margin: 48px;
    bottom: 0;
    left: 0;
}
.sec2 p{
    color: white;
    font-size: 16px;
    padding: 0 0 6px;
}
.sec2 h4{
    font-size: 26px;
    color: white;
    font-weight: 400;
    letter-spacing: -1px;
    word-spacing: -2px;
}
.btn2{
    padding: 5px 15px;
    border-radius: 30px;
    background-color: #fff;
    width: fit-content;
    margin: 20px 0;
    color: #111;
    cursor: pointer;
    transition: .3s;
}
.sec3_text{
    text-align: center;
    padding-top: 80px;
}
.sec3_text h1{
    font-family: futura_alt;
    font-size: 3rem;
    color: #111;
    text-transform: uppercase;
}
.m1{
    margin: 20px auto !important;
}
.sec3b img{
    width: 100%;
    margin-top: 20px;
}
.sec3b{
    text-align: left;
}
.col4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sec3c img{
    width: 100%;
}
.mt{
    margin-top: 60px;
}
.sec3c{
    gap: 20px;
    margin: 0 10px;
}
.width2{
    width: 68.20%;
    margin: 0 auto;
}
.col{
    gap: 16px;
}
.col p{
    font-size: 20px;
    text-align: left;   
}
.m2{
    margin-bottom: 7px;
} 

.child{
    color: #707072;
    font-size: 16px !important;
}
.pre_footer{
    margin: 100px 0;
    width: 100%;
}
.none{
    display: none;
}
@media screen and (max-width: 560px){
    .none{
        display: block;
    }
    .block{
        display: none;
    }
    .mobile_header{
        justify-content: space-between;
        padding: 0px 24px;
        display: flex;
        align-items: center;
    }
    .mob img{
        width: 24px;
        padding: 8px;

    }
    .smallimg{
        width: 20px !important;
    }
    .sec1_text h1{
        font-size: 40px;
        line-height: 36px;
    }
    .sec1_text h1, p{
        margin-bottom: 20px;
    }
    .btn1{
        margin: 60px auto 20px;
    }
}