@font-face {
    font-family: font1;
    src: url(/Fonts/HelveticaNowTextMedium.woff2);
}
@font-face {
    font-family: font2;
    src: url(/Fonts/Nike-Futura-ot-300.woff2);
}
@font-face {
    font-family: font3;
    src: url(/Fonts/Nike-Futura.woff2);
}
@font-face {
    font-family: font4;
    src: url('Fonts/HelveticaNowText.woff2');
}
@font-face {
    font-family: font5;
    src: url('Fonts/HelveticaNowDisplayMedium.woff2');
}
@font-face {
    font-family: font6;
    src: url('Fonts/Nike-TG.woff2');
}
@font-face {
    font-family: font7;
    src: url('Fonts/HelveticaNowDisplayMedium\ \(1\).woff2');
}

*{
    margin: 0;
    padding: 0;
    color: #111;
    
   
}
body{
    box-sizing: border-box;
    font-family: mainfont;
    max-width: 100%;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align_items{
    align-items: center;
}
.font{
    font-family: font1;
}
.grid{
    display: grid;
}
.width{
    width: 92.88%;
    margin: 0 auto;
}
.bg_alt{
    background: #f5f5f5;
}
.text_br{
    border-right: .7px solid #111;
    padding: 0 12px !important;
}
.up_nav{
    justify-content: space-between;
    font-size: 12px;
}
.fith{
    height: 100%;
}
.up_nav_img{
    gap: 24px;
    padding: 6px 0;
}
.up_nav_img img{
    padding: 3px;
}
.up_nav_text{
    padding: 0 8px 0 12px;
    line-height: 12px;
    font-weight: 500;
}
.logo{
    padding: 15.5px 0;
    width: 30% !important;
}
.nav_text{
    gap: 24px;
    text-align: center;
    font-size: 1rem;
    padding: 0 0 0 12px;
    width: 40%;
    font-family: font1;
}
.nav_right{
    justify-content: end;
    padding: 0 0 0 8px;
    width: 30%;
    gap: 22px;
}
.circle{
    border-radius: 50%;
}
.circle_h{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.mag img{
    width: 20px;
    padding: 8px;
}
.search{
    width: 125px;
    text-align: left;
    border: none;
    background: #f5f5f5;
    height: 36px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    color: #E5E5E5;
    font-size: 17px;
}
.fix{
    background: #f5f5f5;
}
.img_nav{
    width: 20px;
    padding: 8px;
    margin-left: 2px;
}
.ads{
    height:60px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
}
.ads p{
    font-family: font5;
    font-size: .8rem;
    text-decoration: underline;
    font-weight: 100;
    
}
.cloth{
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.women p{
 font-family: font1;
font-weight: 500;
font-size: 1.5rem;
}
.variety{
    gap:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.variety a{
    text-decoration: none;
    font-family: font1;
}
.cloth{
    height:100px
}
.back-school{
    width:100%;
    height: 410px;
    /* background-image: url('images/women-s-shoes-clothing-accessories.jpg'); */
}
.back{
    width:100%;
    height: 410px;
    /* background-image: url('images/women-s-shoes-clothing-accessories.jpg'); */
}
.school{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:250px
}
.school h1{
    font-size: 4.5rem;
    /* font-weight: bolder; */
    font-family: font2;
}
.school p{
    font-size: 1rem;
    font-family: font4;
}
.shop-women{
    width: 130px;
    height:35px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 24px;
    font-family:font7;
}
.sport{
    padding-top: 60px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 440px;
}
.explore {
    font-family: font1;
    font-weight:200;
    font-size: 1.3rem;
    padding-left: 30px;
    padding-bottom: 30px;
}
.pace{
    background-image: url('images/women-s-shoes-clothing-accessories\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.top{
    position: absolute;
    top: 300px;
    right: 350px;
    gap: 20px;    
}
.top1{
    position: absolute;
    top: 300px;
    right: 250px;
    gap: 20px;    
}
.grid p{
    color:white;
    /* top: 300px;
    right: 400px; */
    font-family: font1;
    font-weight: 500;
    font-size: 1rem;
    /* position: absolute; */
}
.grid span{
    color:white;
    font-family: font1;
    font-weight: 500;
    font-size: 1.5rem;
  
}
.shop{
    width: 80px;
    height:35px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-family:font7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.USA{
    background-image: url('images/USA.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.universal{
    background-image: url('images/universal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.light-army{
    background-image: url('images/light\ army.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.trending{
    padding-top: 120px;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 330px;
    gap:15px;
    width:85%;
    margin: auto;
}
.grid-item1{
    height:300px;
    width:100%;
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_350,c_limit/0810b1a2-e9a5-4816-aa71-a2651fe26802/women-s-shoes-clothing-accessories.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item2{
    height:300px;
    width:100%;
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_350,c_limit/95dfee90-23d1-4a6f-b2a7-c8ec98bf30df/women-s-shoes-clothing-accessories.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item3{
    height:300px;
    width:100%;
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_350,c_limit/43deb000-6bb3-495e-a30a-83321384185a/women-s-shoes-clothing-accessories.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clothing p{
    font-family: font5;
    padding-top: 10px;
    font-weight: 550;
    font-size: 1.2rem;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    gap:15px;
    margin: auto;
    
    
}
.overflow{
    overflow: hidden;
    position:fixed
}
.grid-items1{
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/63daa908-738f-4952-b3b1-12c16b59068d/women-s-shoes-clothing-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-items2{
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/952a2481-0932-45cf-bc3e-608b644c8245/women-s-shoes-clothing-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-items3{
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/7621370c-7c55-4cc9-b3f5-092f83f99817/women-s-shoes-clothing-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-items4{
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/6dc2f016-0b54-4673-853c-96de0b8d1299/women-s-shoes-clothing-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-items5{
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/55f99af6-8b83-47ab-a29f-31bb9afaf3ad/women-s-shoes-clothing-accessories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-women{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;
}
.bold1{
    font-weight: 700px !important;
    font-size: 1.2rem !important; 
    font-family: font5;
    color:black !important;
}
.shoes{
    padding-bottom: 30px;
}
.shoes p{
 color: #707072;
 font-family: font5;
 font-size: 1rem;
 padding-top: 20px;
 font-weight: 700px;
}
.footer{
    border-top: .9px solid #E5E5E5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 65px 0;
    gap: 12px;
}
.flex_d{
    display: flex;
    flex-direction: column;
}
.foot_col p{
    font-size: 14px;
    color: #707072;
}
.bold{
    color: #111 !important;
    margin-bottom: 24px;
}

.foot_col{
    text-align: left;
    gap: 12px;
}
.foot_end img{
    width: 14px;
    height: 14px;
}
.foot_end div{
    gap: 5px;
    text-align: right !important;
    justify-content: end;
}
.footer_img2{
    height: 22px !important;
    padding: 2px !important;
}
.foot_bottom_img{
    height: 13px;
    padding: 7px;
}
.foot_bottom p{
    color: #707072;
    font-size: 14px;
}
.foot_bottom{
    gap: 20px;
}

